{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

    <h3>List of Links for <span class='badge badge-primary'>{{ user.username }} </span> </h3>
    <br>

    <div id="accordion">
        {% for item in links %}
          <div class="card">
            <div class="card-header" id="heading-{{forloop.counter}}">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
                  Social channel {{forloop.counter}} - {{item}}
                </a>
              </h5>
            </div>
            <div id="collapse-{{forloop.counter}}" class="collapse" data-parent="#accordion" aria-labelledby="heading-{{forloop.counter}}">
              <div class="card-body">
                <p>{{item.url}}</p>
                <button class="badge badge-secondary float-left"><a href="{% url 'link_update' item.id %}" style="color:white"><i class="fa fa-pencil"></i>Edit</a></button>
                <button class="badge badge-secondary float-right"><a href="{% url 'link_delete' item.id %}" style="color:white"><i class="fa fa-trash"></i>Delete</a></button>
              </div>
            </div>
          </div>
        {% endfor %}

    </div>
<br><br>
{% endblock %}