{% extends 'app_main/base.html' %}
{% load crispy_forms_tags%}
{% load static %}

{% block content %}

    <div class="progress">
      <div class="progress-bar bg-secondary" style="width:25%">
        Personal
      </div><div class="progress-bar bg-light" style="width:.2%"></div>
      <div class="progress-bar bg-primary" style="width:25%">
        Professional
      </div>
      <!--<div class="progress-bar bg-danger" style="width:25%">-->
        <!--Professional-->
      <!--</div>-->
    </div>
    <br>

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profiletraveler.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <script src="{% static 'ktag/js/tagify.min.js' %}"> </script>
                <fieldset class="form-group" >
                    <legend class="border-bottom mb-4">
                        {% if user.type == '0' %}
                            Traveler Professional Info
                        {% elif user.type == '1' %}
                            Local Host Extra Info
                        {% endif %}
                    </legend>
                    {{form|crispy}}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-info btn-sm" type="submit" name="save" value="prev">Previous</button>
                    <button class="btn btn-info btn-sm float-right" type="submit" name="save" value="next">Next</button>
                </div>
            </form>
    </div>

{% endblock content %}