{% extends 'app_main/base.html' %}
{% load crispy_forms_tags%}
{% load static %}

{% block content %}

    {% if user.type == '0' %}
        <span class="badge badge-primary">Traveler</span>
    {% elif user.type == '1' %}
        <span class="badge badge-success">Local Host</span>
    {% endif %}
    <br>


    <div class="progress">
      <div class="progress-bar bg-secondary" style="width:35%">
        Basics
      </div>
      <div class="progress-bar bg-secondary" style="width:35%">
        Interest
      </div>
      <div class="progress-bar bg-primary" style="width:30%">
        Availability
      </div>
    </div>
    <br>


    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profilehost.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <script src="{% static 'ktag/js/tagify.min.js' %}"> </script>
                <fieldset class="form-group" >
                    <legend class="border-bottom mb-4">
                        {% if user.type == '0' %}
                            Traveler Program Info
                        {% elif user.type == '1' %}
                            Local Host Availability Info
                        {% endif %}
                    </legend>
                        {{form|crispy}}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-info btn-sm" type="submit" name="save" value="save">Previous</button>
                    <button class="btn btn-info btn-sm float-right" type="submit" name="save" value="next">Review</button>
                </div>

          </form>

    </div>



{% endblock content %}