{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

    <h3>Details of Local Host's Offer</h3>
    <br>

    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="content-section">
                <div class="article-metadata">
                    <p><span class='text-muted'>Summary: </span>{{ space.title }}</p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Details: </span> {{ space.detail }}</p>
                </div>
            </div>
        </div>
    </div>

<a href="{% url 'space_delete' space.id %}">Delete Offer</a>

<br>

{% endblock %}
