{% extends "app_main/base.html" %}
{% block content %}

<h2>Calender for
    {% if host.name %}
        {{host.name}}
    {% else %}
        {{host.user.username}}
    {% endif %}
</h2>
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'app_main:calendar_available_host' host.user_id %}?{{prev_month}}">Previous Month</a>
        <a class="btn btn-info right" href="{% url 'app_main:calendar_available_host' host.user_id %}?{{next_month}}">Next Month</a>
    </div>
    {{ calendar }}


{% endblock %}