{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
<div class="jumbotron shadow-lg p-4 mb-4 bg-white">
  <img src="{% static 'pic/tts.png' %}" alt="logo" class="mx-auto d-block"> <span class="text-center d-block" style="font-family: Open Sans Condensed;font-weight:bold; font-size: 45px;">Travel To Share</span>
  <br>
    <p class="home_text">
        A FREE webapp that provides the platform for travelers to share their experience, stories and skills with the locals,
        in the form of a talk, a speech, series of workshops, etc. Meanwhile, local organizations perform the role of localhosts to help organize those events.
    </p>

    <p class="home_text">
    This site is a dedicated virtual space that aiming to make this exchange of information as easy as possible.
        Therefore, locals could benefit from those on-site events offered by travelers.
    </p>

</div>

<br>
<h1 class="text-center home_title">Main Features </h1>

<div class="row shadow-lg p-4 mb-4 bg-white home_text">
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-money fa-4x d-block"></i><h2>Free</h2> <p class="home_sm">No charge</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-globe fa-4x d-block"></i><h2>Global</h2> <p class="home_sm">Every corner of the world</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-connectdevelop fa-4x d-block"></i><h2>Connect</h2> <p class="home_sm">Offer meets need</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-commenting-o fa-4x d-block"></i><h2>Communicate</h2><p class="home_sm">Talk and listen</p></div>
</div>
<br>

<h1 class="text-center home_title">Are you one of us?</h1>
<div class="card-deck shadow-lg p-4 mb-4 bg-white">
  <div class="card align-self-center">
    <div class="card-body ">
      <p class="card-text">
          <h4 class="border-bottom text-center home_text">If you are:</h4>
            <ul class="fa-ul home_sm">
                <li><i class="fa-li fa fa-check-square-o"></i>Open-minded and Grateful</li>
                <li><i class="fa-li fa fa-check-square-o"></i>Like to travel</li>
                <li><i class="fa-li fa fa-check-square-o"></i>Want to help others</li>
                <li><i class="fa-li fa fa-check-square-o"></i>Have a few words to share</li>
            </ul>
      </p>
    </div>
  </div>

  <div class="card align-self-center">
    <div class="card-body ">
      <p class="card-text">
        <h4 class="border-bottom text-center home_text">If you have:</h4>
            <ul class="fa-ul home_sm">
                <li><i class="fa-li fa fa-check-square-o"></i>Space to hold an event</li>
                <li><i class="fa-li fa fa-check-square-o"></i>People interested in certain topics</li>
                <li><i class="fa-li fa fa-check-square-o"></i>Want to communicate and learn</li>
                <li><i class="fa-li fa fa-check-square-o"></i>Willing to organize an event</li>
            </ul>
      </p>
    </div>
  </div>

</div>
    <div class="card shadow-lg p-4 mb-4 bg-white">
        <h3 class="text-center home_text">
            Any of the above look familiar? Then you should definitely <a href="{% url 'register' %}">JOIN US</a>!
        </h3>
    </div>
<br>

<h1  class="text-center home_title">How does this work?</h1>
<div class="card-columns shadow-lg p-4 mb-4 bg-white">
  <div class="card" style="background:#B9FFB9;">
    <div class="card-body text-center">
      <p class="card-text"><h3 class="border-bottom home_text">Travelers</h3></p>
      <ul class="fa-ul home_sm">
        <li><i class="fa-li fa fa-arrow-circle-down"></i> Register as a Traveler </li>
        <li><i class="fa-li fa fa-arrow-circle-down"></i> Complete your profile </li>
        <li><i class="fa-li fa fa-arrow-circle-down"></i> Tell us what you offer </li>
        <li><i class="fa-li fa fa-arrow-circle-down"></i> Add your trip details </li>
        <li><i class="fa-li fa fa-arrow-circle-down"></i> Connect with Local hosts! </li>
      </ul>
    </div>
  </div>

  <div class="card border-0 align-self-end">
    <div class="card-body text-center">
      <p class="card-text"><h3 class="home_title">Coming Trips</h3>
        <i class="fa fa-handshake-o fa-5x"></i></p>
    </div>
  </div>

  <div class="card" style="background:#8FD5E3;">
    <div class="card-body text-center">
      <p class="card-text"><h3 class="border-bottom home_text">Localhosts</h3></p>
       <ul class="fa-ul home_sm">
          <li><i class="fa-li fa fa-arrow-circle-down"></i> Register as a LocalHost </li>
          <li><i class="fa-li fa fa-arrow-circle-down"></i> Complete organization profile </li>
          <li><i class="fa-li fa fa-arrow-circle-down"></i> Tell us what you want </li>
          <li><i class="fa-li fa fa-arrow-circle-down"></i> Add your space and availability </li>
          <li><i class="fa-li fa fa-arrow-circle-down"></i> Connect with Travelers! </li>
        </ul>
    </div>
  </div>

</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/acco.css' %}">
<div class="card shadow-lg p-4 mb-4 bg-white">
    <h3 class="home_title">
        FAQs
    </h3>
    <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading-1">
              <h5 class="mb-0 home_text">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                  1. Why should I signup?
                </a>
              </h5>
            </div>
            <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
              <div class="card-body home_sm">
                <p>Only signed up users can post your information online.</p>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="heading-2">
              <h5 class="mb-0 home_text">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                  2. Can I register as both Traveler and Host?
                </a>
              </h5>
            </div>
            <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
              <div class="card-body home_sm">
                <p>Yes, You can. But you have to register TWICE. One account as a Traveler and another one as a Host.</p>
              </div>
            </div>
          </div>
    </div>


</div>

{% endblock %}